<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <br>
        <div class="createcontent">
            <form action="/movies/<%= locals.movie_id %>?_method=PUT" method="POST">
                <label>Replace Movie Titles:</br>
                    <input type="text" name="title" value="<%= locals.title %>" required>
                </label></br> <br>
                <button class="button">PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>